################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/YandexS3Sample/bin/Debug
/YandexS3Sample/obj/Debug
